PORT=5001
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_NAME=xpense
DB_SYNCHRONIZE=true
JWT_SECRET=your_jwt_secret_key
SUPABASE_CONNECTION_STRING=postgresql://your_supabase_username:your_supabase_password@your_supabase_host:your_supabase_port/your_supabase_database
